.listPage {
    display: flex;
    height: 100vh; /* Ensure full viewport height */

    .listContainer {
        flex: 3;
        display: flex;
        flex-direction: column;
        height: 100%; /* Make sure this container takes the full height */

        .wrapper {
            flex: 1; /* Ensure this takes up the remaining height */
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            overflow-y: scroll;
        }
    }

    .mapContainer {
        flex: 2;
        background-color: #fcf5f3;
    }
}
