@import '../../responsive.scss';

.listPage {
    display: flex;

    // flex-direction: column;
    // height: 100vh; /* Ensure full viewport height */
    .listContainer {
        flex: 3;
        display: flex;
        flex-direction: column;
        height: 100%;
        /* Make sure this container takes the full height */
        margin-bottom: 5%;

        @include md {
            // padding: 320px;
            font-size: smaller;
        }

        .wrapper {
            flex: 1;
            /* Ensure this takes up the remaining height */
            padding-right: 50px;

            display: flex;
            flex-direction: column;
            gap: 50px;

            @include md {
                padding: 0;
            }
            // overflow-y: scroll;
        }
    }

    .mapContainer {
        flex: 2;
        width: 100%;
        height: 100vh;
        background-color: #fcf5f3;
    }
}